In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Name":["Daehan","Sujin","Yujin"],
    "Age":["29","23","27"]
})

In [3]:
df

     Name Age
0  Daehan  29
1   Sujin  23
2   Yujin  27

In [4]:
df.loc(1)

In [5]:
df.loc[1]

Name    Sujin
Age        23
Name: 1, dtype: object

In [6]:
df["Name"]

0    Daehan
1     Sujin
2     Yujin
Name: Name, dtype: object